
<div style="text-align: center;">
  <h1>welcom to {{title}}!</h1>


  <p *ngIf="true">
    will be displayed because ngIf is true
    this paragraph is in the DOM
  </p>

  <p *ngIf="false">
    will be displayed because ngIf is false
    this paragraph is in the DOM
  </p>

  <h2 *ngIf="condition">Welcome {{title}} (conditional) </h2>
  <button (click)="condition = !condition">
   <span *ngIf="!condition; then showTheMessage; else hideTheMessage" ></span>
   <ng-template #showTheMessage > click to read an important message!</ng-template>
   <ng-template #hideTheMessage>click to hide the message</ng-template>
  </button>

</div>

<div>
  <ul *ngFor="let user of users let i = index">
    <li>{{user}}(index {{i}})</li>

  </ul>
</div>

<div>
  <ul>
    <ng-template ngFor let-user [ngForOf] ="users" let-i="index" >
      <li> {{user}} (index {{i}}) </li>
    </ng-template>
  </ul>
</div>

<input type="text" [(ngModel)]="animalNameInput">
 <p> {{animalNameInput}} </p>
 <img appAnimalImage [animalName]="animalNameInput"  width="30">




